#vid-skim, #vid-skim div, #vid-skim span,  #vid-skim p,
#vid-skim a, #vid-skim strong {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-size: 11px;
  font-family: Helvetica, Arial, Sans-serif;
}

#vid-skim p{
  font-size: 12px;
  margin-bottom: 12px;
}

#vid-skim a:link, #vid-skim a:visited {
  background-color:transparent;
  color:#143D8D;
  text-decoration:none;
}



#vid-skim div.viewer {
  padding: 20px;
  border: 5px solid #e4e4e4;
  width: 775px;
  height: 360px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  float:left;
}
#vid-skim div.timeline {
  width:82%; 
  height:32px; 
  background-color:#DCDED2; 
  position:relative; 
  margin-bottom: 1em;
}

#vid-skim div.timeline div.scrubber {
  color: #222; 
  font-family: sans-serif; 
  padding:.2em .1em .1em .1em; 
  font-size: 12px; 
  width: 300px;
  position:absolute; 
  top:-1.1em; 
  left: 0;
  display:none;
  z-index:200;
}
#vid-skim div.timeline div.position {
  border-left:3px solid #fff; 
  height:100%; 
  width:2px; 
  position:absolute; 
  top:0; 
  left:0; 
  z-index:100
}
#vid-skim div.timeline div.time_box{
  height:100%; 
  position:absolute;
  display:block;
  top:0; 
  left:0;
}
#vid-skim div.vid-nav{
  width: 18%;
  height:32px;
  margin-bottom: 5px;
  position: absolute;
  top:20px;
  right:20px;
}
#vid-skim div.vid-nav a {
  width: 65px;
  height: 32px;
  text-indent: -9999px;
  display: block;
  float: right;
  padding: 3px 0 0 3px;
}

#vid-skim div.vid-nav a.previous{
  background: transparent url('../images/prev.jpg') no-repeat;
}
#vid-skim div.vid-nav a.next{
  background: transparent url('../images/next.jpg') no-repeat;
}

#vid-skim div.vid-nav a.previous:hover{
  background: transparent url('../images/prev-hover.jpg') no-repeat;
}
#vid-skim div.vid-nav a.next:hover{
  background: transparent url('../images/next-hover.jpg') no-repeat;
}

#vid-skim div.trans{
  float: right;
  /*border: 1px solid div.aaa;*/
  width: 375px;
  height: 300px;
  margin: 0 5px 5px 5px;
  padding: 5px;
  overflow: auto;
}


#vid-skim div.player_container {
  float:left;
  padding-top:5px; 
}
#vid-skim div.rail {
  float: left;
  width: 143px;
}
#vid-skim div.rail a, div.rail p, div.vid-tabs a {
  font-size:11px;
  display: block;
  font-weight: bold;
  padding: .5em;
  line-height: 1.1em;
}
#vid-skim div.rail div a:hover, #vid-skim div.rail div a.active, #vid-skim div.vid-tabs div a:hover, #vid-skim div.vid-tabs div a.active {
  background-color: #e4e4e4;
}

#vid-skim div.vid-tabs div{
  display: inline;
  margin: none;
}

#vid-skim div.vid-tabs div a {
  display: inline;
  padding-bottom: none;
  border: 2px solid #e4e4e4;
  padding: 5px;
}
#vid-skim div.vid-tabs div{
  margin-bottom: 3px;
}
#vid-skim div.vid-tabs .color{
  font-size: 1px;
  border: 6px solid #000;
  margin-right: .3em;
  padding: .1em;
  position:relative;
  bottom: 4px;
}
#vid-skim div.rail p {
  margin-bottom: 0;
  padding-top:0;
  padding-bottom: 0;
}

#vid-skim .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

